BINTRAY_USER=YOUR_BINTRAY_USER
BINTRAY_API_KEY=YOUR_BINTRAY_API_KEY
BINTRAY_ORG=YOUR_BINTRAY_ORG
BINTRAY_MAVEN_REPO=YOUR_BINTRAY_MAVEN_REPO
BINTRAY_PACKAGE=YOUR_BINTRAY_PACKAGE
BINTRAY_DESCRIPTION=YOUR_BINTRAY_DESCRIPTION
BINTRAY_WEBSITE=YOUR_BINTRAY_WEBSITE
